{% extends "home/base.html" %}
{% block content %}
    <h1>Graph</h1>
    {% if semigroups %}
        <p>Found {{semigroups}} semigroups</p>
    {% endif %}
    <canvas id="main" width="800" height="600"></canvas>
    <input id="add" type="button" value="add vertex">
    <input id="clear" type="button" value="clear">
    <label for="edge">Add Vertices</label>
    <input id="edge" type="checkbox">

    <script>
    (function() {

        var canvas = this.__canvas = new fabric.Canvas('main', { selection: false })
        fabric.Object.prototype.originX = fabric.Object.prototype.originY = 'center';
        
        var graph = {'verts': [], 'edges': []}
        var id = 0
        var eid = 0
        var vertex1 = null;
        var draw_edges = false;

        function makeLine(coords) {
            return new fabric.Line(coords, {
            fill: 'red',
            stroke: 'red',
            strokeWidth: 5,
            selectable: false,
            evented: false,
            });
        }

        function makeCircle(left, top) {
            var c = new fabric.Circle({
            left: left,
            top: top,
            strokeWidth: 5,
            radius: 22,
            fill: '#fff',
            stroke: '#666'
            });
            c.id = id

            graph.verts[id] = {
                'top': top,
                'left': left
            }

            id += 1
            c.hasControls = c.hasBorders = false;

            c.lines1 = new Array()
            c.lines2 = new Array()

            c.on('selected', function(){
                if(draw_edges){
                    if(vertex1) {
                        line = makeLine([
                            vertex1.left, 
                            vertex1.top, 
                            c.left, 
                            c.top,
                        ]);
                        vertex1.lines1.push(line)
                        c.lines2.push(line)
                        canvas.add(line)

                        $("#g" + (eid - 1)).after(
                            '<input type=\"text\" name=\"g' + 
                            eid + 
                            '\" id=\"g' +
                            eid +
                            '\" value=\"' +
                            vertex1.id + "e" + c.id + 
                            '\" hidden>'
                            )

                        graph.edges[eid] = {'v1': vertex1.id, 'v2': c.id}
                        sessionStorage.setItem('graph', JSON.stringify(graph))
                        $("#graph").val(JSON.stringify(graph))
                        eid += 1
                        vertex1 = null
                    } else {
                        vertex1 = c;
                        vertex1.fill = 'black'
                        canvas.renderAll()
                    }
                }
            })

            c.on('deselected', function(){
                c.fill = 'white'
                canvas.renderAll()
            })

            return c;
        }

        if(sessionStorage.getItem('graph')) {
            
            graph = JSON.parse(sessionStorage.getItem('graph'))
            console.log(JSON.stringify(graph))

            var verts = Array()

            for(i in graph.verts) {
                c = makeCircle(graph.verts[i].left, graph.verts[i].top)
                canvas.add(c)
                verts.push(c)
            }

            for(i in graph.edges) {
                var v1 = verts[graph.edges[i].v1]
                var v2 = verts[graph.edges[i].v2]
                
                line = makeLine([
                    v1.left, 
                    v1.top,
                    v2.left,
                    v2.top
                ])

                v1.lines1.push(line)
                v2.lines2.push(line)
                canvas.add(line)
            }
            eid = graph.edges.length
            canvas.renderAll()
        } 

        var start_x = 50
        var start_y = 50

        canvas.on('object:moving', function(e){
            var p = e.target
            for(i = 0; i < p.lines1.length; i++) {
                p.lines1[i].set({'x1': p.left, 'y1': p.top})

            }
            for(i = 0; i < p.lines2.length; i++) {
                p.lines2[i].set({'x2': p.left, 'y2': p.top})
            }        
            canvas.renderAll()

            graph.verts[p.id].top = p.top
            graph.verts[p.id].left = p.left  
            sessionStorage.setItem('graph', JSON.stringify(graph))
            $("#graph").val(JSON.stringify(graph))         
        });



        $("#add").click(function(){
            canvas.add(makeCircle(start_x, 100))
            start_x += 100
            if(start_x == 750) {
                start_x = 50
            }
        })

        $("#edge").click(function(){
            draw_edges = draw_edges ^ true
            vertex1 = null
        })

        $("#clear").click(function(){
            sessionStorage.setItem('graph', '')
            $("#graph").val('')
            canvas.clear()
            canvas.renderAll()
        })

    })();
    </script>

    <form class="content-section" method="POST">
        <input type="text" name="graph" id="graph" value="" hidden>
        <input type="submit" value="test graph" class="btn btn-submit">
        {% csrf_token %}
    </form>
{% endblock content %}
